<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.task.mapper.CoalitionMapper">

    <insert id="insertCoalition" parameterType="Coalition" useGeneratedKeys="true" keyProperty="id">
        insert into coalition (task_id, name, create_time, coalition_status, transport_cost, coalition_reputation)
        values (#{taskId}, #{name}, #{createTime}, #{coalitionStatus},#{transportCost},#{coalitionReputation})
    </insert>

    <insert id="insertCoalitionCompany">
        insert into coalition_company (coalition_id, company_id)
        values
        <foreach collection="coalitionCompany" item="item" separator=",">
            (#{coalitionId}, #{item})
        </foreach>
    </insert>
</mapper>